<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Product</h2>
                    <h3 class="section-subheading text-muted">Dolsoe: the Smart. It's our pride.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">                    
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/product/controlpanel2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Control Panel</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">심플 이즈 더 베스트!<br>군더더기 없는 깔끔한 디자인<br>설명서가 필요 없는 직관적 설계<br>모터 전체 독립적 개별 제어</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/product/app.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Application</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">앱 조작이 제일 쉬웠어요!<br>한눈에 파악 가능한 직관적인 UI<br>정갈하고 모던한 디자인<br>유저친화적, 합리적 기능 설계</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/product/sensor.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Sensor</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">필요한 센서만 실속 있게!<br>강우, 온습도, 풍향풍속, 토양 등<br>외부기상센서도 선택 가능<br>추후 센서 추가 가능</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/product/cctv.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>CCTV</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">CCTV 설치 대행!<br>다후아 IP 카메라 설치<br>녹화기 선택 가능<br>타사 앱 사용</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>still
                                    <br>we are
                                    <br>evolving</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>