<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Our goal is a simbiosys relationship with our customers. We always listen to your needs.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-thermometer-half fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">환경 정보</h4>
                    <p class="text-muted">언제 어디서나 편리하게,<br>시설의 환경정보 확인</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">원격 제어</h4>
                    <p class="text-muted">아무리 멀리 있어도,<br>휴대폰만으로 가능한 시설 제어</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-hourglass-half fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">자동 제어</h4>
                    <p class="text-muted">한 번만 설정해 놓으면,<br>자동으로 제어되는 편리함</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">정보 분석</h4>
                    <p class="text-muted">농업인의 뼈가 되고 살이 되는,<br>생장 환경 데이터 분석</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-camera fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">CCTV</h4>
                    <p class="text-muted">불안한 마음을 달래줄,<br>상시 카메라 관찰 기능</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-handshake-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">사후 관리</h4>
                    <p class="text-muted">소중한 연을 이어갈 수 있는,<br>지속적인 사후 관리 서비스.</p>
                </div>
            </div>
        </div>
    </section>